<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <title>Liste Actualités</title>
  </head>
  <body>
    <ul style="margin:0 auto;">
      <repeat group="{{ @all_actu }}" value="{{ @actu }}">
        <li>
          <a href="edit/{{@actu.id}}">{{@actu.nom_evenement}}</a>
        </li>
      </repeat>
    </ul>

  </body>
</html>
