.nav-wrapper {
  background-color: rgb(38, 103, 189);
  color: black;
  font-weight: bold;
  height: 60%;
  width: 20%;
  position: fixed;
}

.hide-on-med-and-down{
  background-color: rgb(38, 103, 189);
  
}
.content{
  width: 75%;
  padding-left: 20%;
  margin:auto;
}
nav{
  background-color: rgb(38, 103, 189);
}
#contact{
  display: inline-block;
  width: 30%;
  text-align: left
}
#follow{
  display: inline-block;
  width: 30%;
  text-align: right;
  margin-left:20%;
}
#foot{
  background-color:  rgb(38, 103, 189);
  
}
#mail-input{
  width: 150px;
  font-weight: bold;
  color: black;
 
  display: inline-block;

}
#password-input{
  width: 150px;
  font-weight: bold;
  color: black;
  
  display:inline-block;
}
#enregistrer-input{
  width: 150px;
  display:inline-block;
  background-color: rgb(61, 118, 194);
  border: none;
  color:  white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
 
}

.float{
  display: flex;
  justify-content: flex-end;
  background: rgb(61, 118, 194);
  font-weight: bold;
  color: black;
}