<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="actu_edit.css" />
  <title>Ajout Actualités</title>
</head>
<body>
  <div id="container">
    <h1>Modifier un évènement dans l'Actualité</h1>
    <div id="form_modif">

      <form method="post" action="../../../admin/actualite/edit/">

        <p class="champs">
          <label for="nom_evenement">Nom de l'évènement (*)</label>
          <input type="text" name="nom_evenement" id="nom_evenement" value="{{@nom_evenement}}" size="40" />
        </p>

        <p class="champs">
          <label for="date_debut">Date de début</label>
          <input type="date" name="date_debut" id="date_debut" value="{{@date_debut}}" size="40" />
        </p>

        <p class="champs">
          <label for="date_fin">Date de fin </label>
          <input type="date" name="date_fin" id="date_fin"  value="{{@date_fin}}" size="40" />
        </p>

        <p class="champs">
          <label for="heure_debut">Heure de début</label>
          <input type="time" name="heure_debut" id="heure_debut" value="{{@heure_debut}}" size="40" />
        </p>

        <p class="champs">
          <label for="heure_fin">Heure de fin </label>
          <input type="time" name="heure_fin" id="heure_fin" value="{{@heure_fin}}" size="40" />
        </p>

        <p class="champs">
          <label for="lieu">Lieu (nom + adresse)(*)</label>
          <input type="text" name="lieu" id="lieu"  value="{{@lieu}}" size="40" />
        </p>

        <p class="champs">
          <label for="description">Description</label>
          <textarea type="text" name="description" value="" id="description" rows="6" cols="40">{{@description}}</textarea>
        </p>

        <p class="champs">
          <label for="image">Image</label>
          <input type="file" name="image"  id="image" size="40" />
        </p>

        <p class="champs">
          <label for="document">Document</label>
          <input type="file" name="document"  id="document" size="40" />
        </p>

        <input type="hidden" name="id" value="{{@id}}">
        </p>

        <p id="legende">(*) champs obligatoires</p>

        <p>
        <input id="bouton_modifier" type="submit" value="Modifier" style="width:170px; color:white; font-size:20px; text-align: center;" />
        </p>

      </form>

    </div>
  </div>
</body>
</html>
